.root {
    -fx-font-family: "Verdana";
    -fx-background: white;
}

.combo-box-base {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 7px 7px 7px 7px;
}

.default-color0.chart-series-line { 
    -fx-stroke: #a91721;
 }