.root {
    -fx-font-family: "Verdana";
    -fx-background: white;
    -fx-box-border: transparent; 
}

.root:focused {
    -fx-border-color: white;
    -fx-box-border: white;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #cccccc;
    -fx-border-radius: 7px;
    -fx-accent: #e62b37;
}

.text-field:focused {
    -fx-background-color: transparent;
    -fx-border-color: #e62b37;
}

.text-area {
    -fx-background-color: white, white;
    -fx-border-color: #cccccc transparent transparent transparent;
    -fx-border-radius: 7px 7px 0 0;
    -fx-background-radius: 7px;
    -fx-accent: #e62b37;
}

.text-area:focused {
    -fx-border-color: #e62b37 #e62b37 transparent #e62b37;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.combo-box-base {
    -fx-background-color: -fx-shadow-highlight-color, #cccccc, #cccccc, white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 7px 7px 7px 7px;
}

.combo-box .list-view .list-cell:hover, .combo-box .list-view .list-cell:selected {
    -fx-background-color: #e62b37;
}

.button {
    -fx-background-color: white;
    -fx-background-radius: 7px;
    -fx-border-color: #cccccc;
}

.default-color0.chart-series-line { 
    -fx-stroke: #e62b37;
}

.default-color0.chart-line-symbol {
    -fx-background-color: #e62b37;
}

.split-pane-divider {
    -fx-padding: 0 0 0 0;
    -fx-background-color: #cccccc;
    -fx-border-color: transparent;
    -fx-border-radius: 7px;
}

.chart-vertical-grid-lines {
    -fx-stroke: #cccccc;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-background-radius: 0;
    -fx-border-radius: 7px;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button,
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape: " ";    
    -fx-padding: 0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape: " ";    
    -fx-padding: 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #cccccc;
    -fx-background-insets: 1;
    -fx-background-radius: 7px;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #899995;
    -fx-background-insets: 1;
    -fx-background-radius: 7px;
}

.scroll-pane .corner {    
    -fx-background-color: white ;
}

.menu-bar {
    -fx-background-color: transparent;
    -fx-border-color: #cccccc;
}

.menu:showing, .menu:hover, .menu-item:focused {
    -fx-background-color: #e62b37;
}

.separator {
    -fx-background-color: #cccccc;
    -fx-border-color: transparent;
    -fx-pref-height: 2px;
}

#tituloProyectoLabel {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}

#header {
    -fx-font-weight: bold;
}